*{
    margin: 0%;
    padding: 0%;
}
.planets{
    height:400px;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
     margin-top: 2rem;
     overflow: hidden;
}
.prt{
   
    width: 40rem;
    height:400px
    
}